.container-fluid{
    padding: 0 !important;
}
.banner{
    background-image: url(./images/banner.jpg);
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact{
    position: fixed;
    top: 20px;
    right: 30px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}
h1{
    background-color: rgba(0, 0, 0, 0.4);
    color:white
}